.all{
    background-color: #fff;
    width: 1500px;
    height:2500px ;
}
.tongquat{
    width: 1200px;
    height: 2500px;
    margin-left: 170px;
    flex-wrap: wrap;
}
@media only screen and (max-width: 768px){
    .left, .right{
        float: none;
        width: 100%;
    }
}
.menu{
    width: 1200px;
    height: 100px;
    text-align: center;
}
.menu ul li a{
    color: black;
}
.menu ul li{
    margin-bottom: 10px;
    display: inline-block;
    padding: 30px 50px 50px 30px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu img{
    width: 90px;
    height: 90px;
    margin-left: 30px;
    margin-right: 30px;
}

.menu img:hover{
    opacity: 0;
}
.menu ul li :hover{
    color: #D8D8D8;
    text-decoration: none;
}
/*slice*/
.slice{
    width: 1200px;
    height: 400px;
    background-color: chartreuse;
    margin-top: 0px;
    background-size: cover;
}
.slice .sliceleft{
    position: absolute;
    left: 275px;
    top: 307px;
    color:gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.slice .btn{
    text-transform: uppercase;
    padding: 2px 15px;
    border-radius: 30px;
    font-size: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}
.btn:hover{
    color: red;
    background-color: blueviolet;
}
.slice .sliceright{
    position: absolute;
    left: 1167px;
    top: 400px;
}
.hidden{
    background-color: rgba(63, 201, 148, 0);
    font-size: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.hidden:hover{
    color: gold;
}

.slice img{
    width: 1200px;
    height: 400px;
}
.banner{
    width: 1200px;
    height: 500px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.banner .bannerleft img{
    width: 680px;
    height: 500px;
    margin-right: 20px;
    float: left;
}
.banner .bannerright img{
    width: 500px;
    height: 500px;
    float: left;
}
.bannerleft .text1{
    width: 200px;
    height: 100px;
    position: absolute;
    margin-left: 400px;
    margin-top: 411px;
    color: #fff;
    font-family: cursive;
    font-size: 20px;
}
.text2{
    width: 200px;
    height: 100px;
    position: absolute;
    margin-left: 950px;
    margin-top: 400px;
    font-family: cursive;
    color: #fff;
    font-size: 20px;
}
.banner a:hover{
    text-decoration: none;
    color: red;
}
.center h2{
    font-family: cursive;
    margin-left: 35px;
}
.center{
    width: 1200px;
    height: 500px;
    margin-top: 20px;
    
}
.sp1 img{
    height: 250px;
}
.sp, .ten, .gia, .mua{
    width: 250px;
    margin-left: 35px;
    margin-top: 30px;
    overflow: hidden;
    transform: scale(1.0);
    float: left;
}
.sp img:hover{
    transform: scale(1.2);
}
.ten p{
    color: #585858;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.gia{
    text-align: center;
    color: #585858;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.gia span{
    font-size: 15px;
}
.tenbietthu .ten{
    margin-top: 10px;
}
.mua{
    margin-top: 10px;
    text-align: center;
}
.click .mua{
    margin-top: 0px;
}
.giaca .gia{
    margin-top: 0px;
}
.btnmua{
    border-radius: 20px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btnmua:hover{
    color: green;
}
.banner2{
    width: 1200px;
    height: 500px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
.sp img{
    height: 250px;
}
.sp1, .ten1, .gia1, .mua1{
    width: 250px;
    margin-left: 35px;
    margin-top: 30px;
    overflow: hidden;
    transform: scale(1.0);
    float: left;
}
.sp1 img:hover{
    transform: scale(1.2);
}
.ten1 p{
    color: #585858;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.gia1{
    text-align: center;
    color: #585858;
    font-size: 20px;
    font-weight: bold;
}
.gia1 span{
    font-size: 15px;
}
.tenbietthu1 .ten1{
    margin-top: 10px;
}
.giaca1 .gia1{
    margin-top: 0px;
}
.footer{
    width: 1200px;
    height: 300px;
}
.footer1{
    margin-top: 40px;
    margin-left: 20px;
    width: 300px;
    height: 300px;
    float: left;
}
.footer2{
    margin-top: 40px;
    width: 300px;
    height: 300px;
    float: left;
}
.footer3{
    margin-top: 40px;
    width: 280px;
    height: 300px;
    float: left;
}
.abcc:hover{
    text-decoration: none;
}
.hotro a:hover{
    text-decoration: none;
}
.footer4{
    margin-top: 40px;
    width: 300px;
    height: 300px;
    float: left;
}
.footer1 .abc {
font-size: 15px;
font-family:'Times New Roman', Times, serif;
text-decoration: none;
}
.footer2 .abc {
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}
.footer h5{
    text-transform: uppercase;
}
.footer3 .lienket{
    height: 150px;
}
.hotro span{
    color: #5882FA;
    cursor: pointer;
    text-decoration: none;
}
.hotro p{
    font-family: 'Times New Roman', Times, serif;
}
.lienket a{
    font-family: 'Times New Roman', Times, serif;
}
.footer4 img{
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
}
.footer4 .chungtoi{
    height: 150px;
}
.tongquat .end{
    height: 190px;
}
.end p{
    font-size: 15px;
    text-align: center;
}
